
<div class="panel panel-default showBorder">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#diy-left-structure" data-toggle="tab">Structure</a></li>
		<li><a href="#diy-left-furniture" data-toggle="tab">Furniture</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane  active" id="diy-left-structure">{{render "diy/left-structure"}}</div>
		<div class="tab-pane " id="diy-left-furniture">Furniture</div>
	</div>
</div>
