<div class="diy-top">{{render "diy/top" }}</div>
<div class="row diy-main" {{bind-attr style = view.diyMainstyle}} >
	<div class="diy-left col-lg-2 col-md-3  col-xs-4"  >{{render "diy/left"}}</div>
	<div class="diy-center col-lg-10 col-md-9 col-xs-8">{{render "diy/canvas"}}</div>
</div>