<div class="diy-top">{{render "diy/top" }}</div>

<div class="row">
	<div class="diy-left col-md-3">{{render "diy/left"}}</div>
	<div class="diy-center col-md-7">{{render "diy/canvas"}}</div>
	<div class="diy-right col-md-2">{{render "diy/right"}}</div>
</div>